/*CSS variables*/
:root {
    --headerBackground: #93a2f7;
    --buttonColor: #3551ee;
    --buttonText: #ffff;
}

/*Universal Selector*/
* {
    box-sizing: border-box;
  }

  /*Element Selector*/
body {
    font-family: Arial;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--headerBackground);
    font-size: large;
    padding: 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

p {
    width: 40vw;
}

/*Class Selectors*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.high-scores {
    text-decoration: underline;
}

.user-button {
    background-color: var(--buttonColor);
    color: var(--buttonText);
}

/*Identifiers*/
#quiz {
    display: none;
}

#game-over {
    display: none;
}

#highscores {
    display: none;
}
/*Identifiers used to switch containers*/
#hide {
    display: none;
}

#show {
    display: flex;
}

/* Pseudo Classes */
/* The user's cursor is positioned over the element */
button:hover {
    opacity: 0.7;
    cursor: pointer;
}
  
/* The user is actively pressing down on the element */
button:active {
    background-color: var(--buttonText);
    color: var(--buttonColor);
}
  
/* The element is currently in focus, either by tabbing to or clicking on it */
button:focus {
    border-color: var(--headerBackground);
}

nav:hover, nav:active, nav:focus {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: none;
}